[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Rocker Launcher
Comment=Applications launcher
Icon=application-x-executable
X-XFCE-Module=rockerplugin
X-XFCE-Internal=false
X-XFCE-API=2.0
